/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

/* Add your custom styles here... */


.fl-builder-content a.fl-button {
	border-radius: 5px;
}
.btn-primary {
	color: #ffffff;
	background: #345812;
	border: 1px solid #345812;
	font-family: "Times",Georgia,serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.2;
	border-radius: 5px;
	padding: 10px 20px;
}
.btn-primary:hover {
	background: #396b0a;
	border: 1px solid #396b0a;
}

.gform_wrapper .gform_fields {
	list-style-type: none;
}
.gform_wrapper textarea,
.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
	font-family: "Helvetica",Verdana,Arial,sans-serif;
	font-size: 14px;
	padding: 5px 20px;
	width: 100%;
	border: 1px solid #ddd;
}
.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
	height: 50px;
}
.gform_wrapper textarea {
	padding: 15px 20px;
}
.gform_wrapper ul.gform_fields li.gfield {
	margin-top: 0;
	padding-right: 0;
}
.gform_wrapper .gform_footer {
	padding: 0;
	margin: 0;
	text-align: center;
}
.gform_wrapper .gform_footer input.button,
.gform_wrapper .gform_footer input[type=submit] {
	float: right;
}


/*header*/
.header {
	position: fixed;
    z-index: 99;
    width: 100%;
}

.mini-cart-count {
    position: absolute;
    color: #345812;
    text-align: center;
    border-radius: 20px;
    font-size: 13px;
    right: 5px;
    top: 13px;
    background: #fff;
    padding: 0px 4px;
}

.mini-cart i {
	font-size: 15px;
}

.mini-cart a {
	color: #fff!important;
}

.mini-cart a:hover i,
.menu > li.current-menu-item > a:active i {
	color: #345812!important;
}

.menu > li.current-menu-item > a {
	color: #345812!important;
}

.sub-menu li {
	border-top: 1px solid #fff!important;
}

.fl-slideshow-image-nav-left a,
.fl-slideshow-image-nav-left a:hover,
.fl-slideshow-image-nav-right a,
.fl-slideshow-image-nav-right a:hover {
	width: 50px!important;
	height: 35px;
}

.fl-slideshow-image-nav-right a:hover {
	background-position: -20px!important;
}

/*Breadcrumb*/
.breadcrumb {
	display: inline-block;
	flex-wrap: wrap;
	padding: 0;
	margin-bottom: 0;
	list-style: none;
	background-color: #ffffff00;
	border-radius: 0;
}

/*Home page*/
.banner-home .fl-node-content .uabb-image-carousel {
	margin: 0;
}
.banner-home .uabb-image-carousel .uabb-image-carousel-item {
	padding: 0;
}
.banner-home .fl-node-content .uabb-image-carousel .slick-arrow {
	transform: translate(0,-50%);
}

.products-home .img-product {
	background-color: #fff;
	position: relative;
	padding: 0;
	margin-bottom: 0;
}

.img-product-bottom {
	position: absolute;
	right: 15px;
	bottom: 15px;
	opacity: 0;
}

.img-product-bottom a i{
	background-color: #f1f1f1;
	color: #313131;
	font-size: 18px;
	margin: 0 2px;
	transition: all 0.4s ease-in-out 0s;
	border-radius: 5px;
	padding: 10px;
}

.img-product-bottom a i:hover {
	background-color: #519f10;
	color: #fff!important;
}

.sp-homepage .slick-list {
	width: 100%;
}

.sp-homepage button.slick-prev.slick-arrow,
.sp-homepage button.slick-next.slick-arrow {
	background-color: #fff;
	color: #83bb55;
	top: 44%;
}

.sp-homepage .slick-arrow i {
	font-size: 35px;
    line-height: 30px;
    border-radius: 99px;
    border: 2px solid #83bb55;
    width: 25px;
    height: 30px;
}

.sp-homepage .slick-arrow i:hover {
	font-size: 35px;
    line-height: 30px;
    border-radius: 99px;
    border: 2px solid #83bb55;
    width: 25px;
    height: 30px;
	opacity: 0.7;
}

.sp-homepage button.slick-prev.slick-arrow i {
	padding-right: 5px!important;
}

.sp-homepage button.slick-next.slick-arrow i {
	padding-left: 5px!important;
}

.sp-homepage button.slick-prev.slick-arrow {
    left: 0px;
}

.sp-homepage button.slick-next.slick-arrow {
    right: 0px;
}

.uabb-blog-post-content:hover .img-product .img-product-bottom {
	 opacity: 1;
}

.top-product {
	background-color: #519f10;
	border-radius: 100px;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	position: absolute;
	top: 10px;
	height: 45px;
	width: 45px;
	line-height: 45px;
	text-align: center;
}

.txt-product {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.top-product.percent-count {
	right: 10px!important;
}

.top-product.sale-title {
	left: 10px;
}

.txt-product .cart-button .reader-text,
.txt-product .cart-button input {
	display: none;
}

.txt-product .cart-button {
	display: inline-block;
	color: #ffffff;
}

/*.add-c a.btn.btn-primary {
	padding: 3px;
	width: auto;
	background-color: #519f10;
	border-radius: 3px;
	text-align: center;
	display: inline-block;
	font-size: 13px;
}*/

.add-c a.btn.btn-primary:before {
	content: "\f217";
	font-family: "Font Awesome 5 Free";
	font-size: 14px;
	display: block;
	width: 20px;
	margin-right: 5px;
	height: 15px;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-weight: 600;
}

/*.txt-product .cart-button a,
.txt-product .cart-button .icon-adc {
	display: inline-block;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	background-color: unset;
	border: unset;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}*/

/*.add-c a.btn.btn-primary:hover {
	background-color: #000000;
}

.txt-product .cart-button a:hover {
	color: #ffffff;
}*/

.title-hover {
	text-align: left;
	margin-top: 10px;
}
.title-hover .add-c {
	display: none;
}

.products-home .uabb-blog-post-content:hover .title-hover .add-c,
.products-home .uabb-blog-post-content:hover .title-hover .uabb-post-heading {
	/*transform: translateY(-41px);*/
	transition: all 0.4s ease-in-out 0s;
}

.products-home .uabb-blog-post-content:hover .title-hover .add-c, {
	display: none;
}

.price-product {
	color: #345812;
    font-weight: 700;
    font-size: 22px;
	margin-top: 10px;
}

.before-sale {
	text-decoration: line-through;
	color: #000000;
	font-style: italic;
}

.form-dk .container,
.form-dk table {
	width: 100%!important;
	padding: 0;
}

textarea,
select#input_3_5,
textarea#input_3_3,
input.form-info__name,
input.form-info__phone,
input[type="number"] {
	border-radius: 0;
	border: 3px solid #383838;
	padding-left: 20px;
}

.checkout-title-cart,
.table .thead-dark th,
button.place-checkout.btn-success.pay-coins,
button.place-order.btn.btn-success {
	background: #345812;
}

button.place-checkout.btn-success.pay-coins:hover,
button.place-order.btn.btn-success:hover {
	opacity: 0.7;
}

table.cart.table a {
    color: #345812;
    font-weight: bold;
}

.table .thead-dark th {
	border-color: #fff;
}

span.cart__subtotal__number,
.price__coin {
    color: #383838;
    font-weight: bold;
}

.gform_wrapper input.ginput_quantity[type=text] {
	display: inline-block;
}

.gform_wrapper input.ginput_quantity[type=text] {
	width: 100px;
}

.gform_wrapper .gfield_required {
	display: none;
}

select#input_3_5 {
	height: 50px;
	width: 100%;
}

#gform_4 label.gfield_label {
	color: #464646;
	font-size: 22px;
	margin-top: 10px;
	font-family: "Playfair Display", serif;
    font-weight: 400;
}

.uabb-post-heading.uabb-blog-post-section a:hover,
.uabb-read-more-text a:hover {
	color: #345812!important;
}

p.confirmation,
div#gform_confirmation_message_3 {
    color: red!important;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
}

.fl-module.fl-module-rich-text.form-dk {
    border-radius: 25px;
}


.fl-module.fl-module-rich-text.form-dk h3 {
	margin-top: 30px;
}

.slider-animated-1 h2 {
	color: #000;
	font-family: "Playfair Display",serif;
	font-size: 40px;
	font-weight: bold;
	margin: 0px;
	opacity: 0;
	animation: fadeInUP 1s 1s ease-in-out;
	animation-fill-mode: forwards;
}

.slider-animated-1 .txt-1{
	font-size: 50px;
	text-transform: uppercase;
}


.slider-animated-2 p {
	color: #000000!important;
	font-family: "Playfair Display",serif;
	font-size: 20px!important;
	font-weight: 400;
	margin-top: 25px;
	opacity: 0;
	animation: fadeInDown 1s 1.5s ease-in-out;
	animation-fill-mode: forwards;
}

.slider-animated-3 a {
	background-color: #345812;
	color: #fff !important;
	opacity: 0;
	animation: fadeInLeft 1s 2s ease-in-out;
	animation-fill-mode: forwards;
	text-transform: uppercase;
	display: inline-block;
	border-radius: 0;
	font-weight: 500;
	transition: all 250ms ease-out;
	letter-spacing: 1px;
	font-size: 22px;
	padding: 10px 20px;
	margin-top: 10px;
	font-family: "Playfair Display",serif;
	border-radius: 10px;
}

.slider-animated-3 a:hover {
	opacity: 0.7;
}

@keyframes fadeInUP {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInDown{
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInLeft{
   0% {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
/*section post home*/

.post-home  .uabb-blog-post-content .uabb-read-more-text {
	padding-top: 0px;
}

.post-home h3.uabb-post-heading {
	margin-bottom: 20px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	font-size: 20px;
	overflow: hidden;
	height: 48px;
}

.post-home img.wp-post-image {
    border: 1px solid #ddd;
}

.title .fl-node-content {
	text-align: center;
}

/*page about*/
.uabb-module-content.uabb-team-wrap {
	box-shadow: 0 3px 5px rgba(85, 85, 85, 0.2);
}
.uabb-team-content {
	padding: 20px 10px 23px;
	position: relative;
}

h3.uabb-team-name-text {
	color: #6d6d6d;
	font-size: 18px;
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
	margin: 0 0 5px !important;
	text-transform: capitalize;
}

span.uabb-team-desgn-text {
	color: #333333;
	font-size: 15px;
	font-family: 'Lora', serif;
	font-weight: 400;
}

span.fl-number-int {
	font-size: 45px;
	font-weight: 800;
	letter-spacing: 0.2px;
	margin: 0 0 10px;
	padding: 0 0 15px;
	font-family: "Playfair Display", serif;
	position: relative;
}

span.fl-number-after-text {
	color: #454545;
	font-size: 22px;
	font-weight: 500;
	text-transform: capitalize;
	font-family: Lora, serif;
	padding-top: 15px;
}

/*Single product*/
.info-product .fa-star{
	color: #345812;
}

.color-gold {
	display: inline-block;
}

.danh-gia a{
	padding-left: 31px;
	position: relative;
	color: #242424;
	font-size: 14px;
	font-family: 'Lora', serif;
}

.danh-gia a:before {
	content: '';
	width: 1px;
	height: 21px;
	position: absolute;
	left: 15px;
	background-color: #ccc;
}

.cart-button .reader-text {
	display: none;
}

.slider-gallery img.img-zoom {
	border: 1px solid #ddd;
	margin-bottom: 20px;
}

.add-sp .quantity {
	display: inline-block;
}

.add-sp input#quantity_products {
	width: 70px;
	border: 1px solid #ddd;
	border-radius: 0;
	text-align: center;
	height: 45px;
}

.add-sp a.add-to-cart {
	font-size: 0;
	padding: 7px;
	background: #f4f5f7;
	margin-left: 20px;
	transition: all 0.3s ease-out 0s;
	width: 50px;
	height: 45px;
}

.add-sp a.add-to-cart:after {
	content: "\f217";
	font-family: "Font Awesome 5 Free";
	font-size: 23px;
	display: block;
	width: 30px;
	height: 30px;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-weight: 600;
	margin-top: 3px;

}

.add-sp a.add-to-cart:hover {
	background-color: #345812;
	color: #fff;
}

.mua-ngay input#quantity_products {
	display: none;
}

.mua-ngay a.add-to-cart {
	padding: 10px 50px;
	background: #345812;
	font-weight: 500;
	font-family: 'Lora', serif;
	line-height: 1;
	text-align: center;
	transition: all 0.3s ease-out 0s;
	border-radius: 4px;
	text-transform: uppercase;
	color: #fff;
	font-size: 15px!important;
}

.mua-ngay a.add-to-cart:hover {
	background: #242424;
	color: #fff;
}

a.add-to-cart:visited {
	border: none;
}

.fl-tabs-panels.fl-clearfix {
	border-color: #fff0;
}

.fl-tabs-horizontal .fl-tabs-label.fl-tab-active {
	border-bottom: 2px solid #345812!important;
}

.single-sp button.slick-prev.slick-arrow,
.single-sp button.slick-next.slick-arrow {
	position: absolute;
	top: 44%;
	z-index: 999;
	background: #0000005c;
	border: none;
}

/*Style trang tin tức*/
.blogs .uabb-post-thumbnail.uabb-blog-post-section {
	margin-bottom: 30px;
}

.blogs span.uabb-posted-by a {
	color: #345812;
}

.blogs .uabb-read-more-text a {
	padding-left: 48px;
	position: relative;
}

.blogs .uabb-read-more-text a:before {
	background-color: #000000;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	top: 9px;
	width: 37px;
}

.blogs .uabb-read-more-text a:hover,
.blogs .uabb-post-heading a:hover {
	color: #345812!important;
}

.post-normal .uabb-post-thumbnail img {
    border: 1px solid #ddd;
    margin-bottom: 25px;
	height: 400px;
	object-fit: cover;
}

.post-normal h5.uabb-post-meta {
	margin-bottom: 5px;
}

.post-normal .uabb-blog-posts-description {
    padding-top: 10px;
}
.post-normal .slick-arrow {
	display: none !important;
}

.post-vertical {
	display: flex;
	justify-content: space-between;
	padding-top: 45px;
    border-top: 1px solid #a3a3a3;
}

.post-vertical .img-post {
	width: 50%;
	margin-right: 15px;
}

.tin-hot .post-vertical .img-post {
	width: 150px;
	height: 133px;
}

.tin-hot h3.uabb-post-heading {
	word-wrap: break-word;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.post-vertical .text {
	width: calc( 60% - 15px );
}

.post-vertical .uabb-blog-posts-description {
    padding-top: 15px;
}

.post-vertical .uabb-post-thumbnail {
    border: 1px solid #ddd;
    border-radius: 3px;
}

.title-vertical-post {
	background-color: #345812;
}

.slide-post .slick-arrow {
	color: #040607;
}

.slide-post .slick-prev {
	top: 44%;
	left: 0;
}

.slide-post .slick-next {
	right: 0px;
	top: 44%;
}

.slide-post .uabb-post-thumbnail {
	border: 1px solid #888888;
    margin-bottom: 25px;
}

.slide-post button.slick-arrow {
	background-color: rgba(255, 255, 255, 0.8);
}

.slide-post button.slick-arrow:hover {
	top: 44%;
	background-color: rgba(255, 255, 255, 0.8);
	color: #345812;
}

.post-max h5.uabb-post-meta {
    margin-top: 0;
    margin-bottom: 5px;
}

.post-max-da-day h5.uabb-post-meta {
	margin-bottom: 0px;
    margin-top: 5px;
}

/*Style single post*/

.nd-post-single .fl-col-small {
	position: sticky;
    top: 120px;
}

.post-sidebar .post-vertical {
	padding-top: 0;
    border-top: none;
}

.tagcloud a {
	color: #000000;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 24px!important;
    background-color: #e1e1e1;
    padding: 3px 15px;
    font-style: italic;
    border-radius: 25px;
    margin-right: 10px;
	padding-left: 25px;
	position: relative;
	display: inline-block;
	margin-bottom: 10px;
}

.tagcloud a:before {
	content: "#";
	display: block;
	position: absolute;
	left: 10px;
	top: 3px;
}

h2.widgettitle {
	display: none;
}


/*style footer*/
.footer {
	position: relative;
}


.footer .fl-module-list-icon .fl-module-content{
	margin-bottom: 0;
	margin-top: 10px;
}

.video-youtube iframe {
	width: 100%;
    height: 400px;
}

.post-other {
    border-top: 1px solid #d6d6d6;
    padding-top: 15px;
}

/*single-page*/
h1.fl-post-title {
	font-family: "Playfair Display", serif;
	font-weight: 400;
	font-size: 28px;
}

.fl-post-content p {
	/*color: #242424;
	font-size: 15px;
	line-height: 26px;
	font-family: 'Lora', serif;*/
}

.fl-widget .fl-widget-title {
	margin-bottom: 0;
	color: #353535;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	text-transform: capitalize;
}

/*Style popup*/
.row-popup {
	display: flex;
	width: 80%;
	background-color: #fff;
	padding: 50px;
	margin: 30px auto;
	flex-wrap: wrap;
	justify-content: space-between;
}

.col-popup {
	width: 47%;
}

.col-popup img.wp-post-image {
	border: 1px solid #ccc;
}

.col-popup h3.uabb-post-heading.uabb-blog-post-section {
	color: #6d6d6d;
	font-size: 28px;
	font-weight: 500;
	font-family: "Playfair Display", serif;
}

.col-popup .color-gold {
	color: #345812;
	margin-bottom: 10px;
}

.col-popup p {
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	color: #242424;
	margin-bottom: 15px;
	font-family: 'Lora', serif;
}

.col-popup .price-product {
	color: #242424;
	font-size: 24px;
	font-weight: 500;
	font-family: 'Lora', serif;
	margin-bottom: 10px;
}

.col-popup .quantity {
	display: inline-block;
}

.col-popup input#quantity_products {
	width: 70px;
	border: 1px solid #ddd;
	border-radius: 0;
	text-align: center;
	height: 45px;
}

.col-popup a.add-to-cart {
	padding: 0 20px;
	text-align: center;
	background: #345812;
	margin-left: 20px;
	transition: all 0.3s ease-out 0s;
	color: #fff;
	height: 45px;
	line-height: 45px;
	text-transform: uppercase;
	font-size: 24px;
	border-radius: 0;
}

.col-popup a.add-to-cart:hover {
	background-color: #242424;
	color: #fff;
}

.mfp-wrap .mfp-close, .mfp-wrap .mfp-close:active, .mfp-wrap .mfp-close:hover, .mfp-wrap .mfp-close:focus {
	background: #ff0000 !important;
}

.submit-cart-shop button,
a.view-cart.btn.btn-primary {
	margin-left: 10px;
    font-size: 13px;
    padding: 3px;
    font-family: 'Lora', serif;
}

/*style popup đăng ký tư vấn*/
code {
	background-color: #fff;
}

.slide-home .form-dk {
	margin-top: -55px;
}

/* Footer tư vấn */
.hotline-footer {
    display: none;
}
.hotline-footer a {
	line-height: 40px;
    margin: 5px;
    border-radius: 3px;
    border: 1px solid white;
	color: #fff;
	font-size: 16px;
}
.hotline-footer .left a {
    background: #d40505;
	color: #fff;
}
.hotline-footer .right a {
    background: #c2a20d;
	color: #fff;

}

/*style form contact-page*/
.contact .form-dk .container {
	margin: 0;
}

.contact li#field_1_2,
.contact li#field_1_4 {
    width: 48%;
	display: inline-block;
	height: 45px!important;
}

.contact li#field_1_4 {
	float: right;
}

.contact .gform_wrapper input.medium,
.contact textarea#input_1_5 {
	border-radius: 3px;
	background-color: #fff;
}

.contact .gform_wrapper .gform_footer {
	text-align: left;
}

.contact input#gform_submit_button_1:hover {
	background-color: #000!important;
}

.title h2.fl-heading {
	display: inline-block;
}

.img-zoom-in img {
	-webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.img-zoom-in .fl-photo-content {
	overflow: hidden;
	border: 1px solid #808080;
}

.img-zoom-in .fl-photo,
.img-zoom-in .fl-slideshow-frame-content {
	position: relative;
}

.img-zoom-in .fl-photo:before {
	content: "";
    display: block;
    width: 130px;
    height: 130px;
    position: absolute;
    background-image: url(https://dogia.vn/wp-content/uploads/2019/12/aaa.png);
    top: -5px;
    left: -3px;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 999;
}

.img-zoom-in img{
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.img-zoom-in img:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

/*Style trang chính sách đại lý*/

.daily-login-form #login-form .rwmb-input {
	width: 76%;
}

.daily-login-form #login-form .rwmb-label {
	width: 24%;
	text-align: right;
    padding-right: 15px;
    color: #464646;
    line-height: 45px;
    font-size: 22px;
}

.daily-login-form button {
	background: #345812;
    color: #fff;
    font-size: 33px;
    line-height: 20px;
    padding: 10px 20px;
    font-weight: normal;
    border: 1px solid #345812;
    font-family: "Playfair Display", serif;
    border-radius: 0;
}

.daily-login-form button:hover {
	opacity: 0.7;
}

.daily-login-form .rwmb-field.rwmb-button-wrapper .rwmb-input,
.rwmb-field.rwmb-custom_html-wrapper .rwmb-input {
	width: 100%!important;
}

.daily-login-form .rwmb-field.rwmb-button-wrapper {
    text-align: right;
}

.daily-login-form .rwmb-field.rwmb-checkbox-wrapper {
    display: none;
}

.daily-login-form .rwmb-input input {
	border-radius: 0;
    border: 3px solid #383838;
    height: 45px;
}

.daily-login-form .link-dk {
	font-size: 22px;
    color: #383838;
    font-family: "Playfair Display", serif!important;
    font-weight: 400;
}

.daily-login-form .rwmb-meta-box {
    display: flex;
    flex-direction: column;
}

.daily-login-form .rwmb-field.rwmb-button-wrapper {
    order: 4;
}

.daily-login-form .rwmb-field.rwmb-custom_html-wrapper a {
	font-size: 22px;
	color: #464646;
	font-family: "Playfair Display", serif;
	margin-right: 51.5%;
    display: inline-block;
	font-weight: 400;
}

/*Style phần đại lý sau khi đăng nhập*/
.form-daily-login {
    width: 50%;
    margin: 0 auto;
}

.form-daily-login label.gfield_label {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 20px;
    color: #383838;
    margin-top: 20px;
}

.form-daily-login input#gform_submit_button_2,
.form-daily-login input#gform_submit_button_3 {
    background: #345812;
    color: #fff;
    font-size: 25px;
    line-height: 20px;
    padding: 10px 20px;
    font-weight: normal;
    border: 1px solid #345812;
    font-family: "Playfair Display", serif;
    border-radius: 0;
    margin-top: 30px;
}

.form-daily-login input#gform_submit_button_2:hover,
.form-daily-login input#gform_submit_button_3:hover{
	opacity: 0.7;
}

/*Style menu*/
ul#menu-main-menu,
ul#menu-main-menu-dai-ly-login {
	float: right;
}

ul#menu-main-menu,
ul#menu-main-menu-dai-ly-login,
.sub-menu {
    list-style-type: none;
	padding: 0;
	margin-bottom: 0;
}

ul#menu-main-menu > li,
ul#menu-main-menu-dai-ly-login > li {
	display: inline-block;
	/*margin-left: -5px;*/
	position: relative;
}

ul#menu-main-menu > li > a,
ul#menu-main-menu-dai-ly-login > li > a {
	color: #ffffff;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 26px;
	padding-bottom: 26px;
	font-family: Helvetica,Arial,sans-serif;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: .025em;
}

.sub-menu > li > a {
	font-family: Helvetica,Arial,sans-serif;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	color: #ffffff!important;
	letter-spacing: .025em;
	padding: 10px;
}

.current-menu-item {
	background-color: #fff;
}

ul#menu-main-menu a:hover,
ul#menu-main-menu-dai-ly-login a:hover,
.sub-menu a:hover {
	background-color: #fff;
	color: #345812!important;
}

.sub-menu > li {
	background-color: #345812;
}

ul#menu-main-menu-dai-ly-login a {
	display: block;
}

ul#menu-main-menu-dai-ly-login .sub-menu > li a {
	padding: 5px 10px;
}

.sub-menu a:before {
	content: "\f061";
	font-weight: bold;
	font-family: "Font Awesome 5 Free";
	margin-right: 10px;
}

#gform_fields_3 .ip-50 {
	width: 50%;
    display: inline-block;
}

#gform_fields_3 span.ginput_quantity_label {
    margin-left: 0;
    width: 100%;
    display: block;
    margin-right: 2px;
}

#gform_fields_3 .ginput_container span:not(.ginput_price) {
    margin-bottom: 8px;
    display: inline-block;
}

/*Style video*/
.divimage.imgblock.big-thumb {
    width: 130px;
    height: 95px;
    margin: 5px 10px;
}

.the-title.from-parse-items {
    font-size: 14px;
    font-family: "Playfair Display",serif;
    text-transform: lowercase;
	font-weight: 400;
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% - 170px);
    right: 10px;
}

.the-title.from-parse-items:first-letter,
.vplayer .video-description .video-title:first-letter {
	text-transform: uppercase;
}

.videogallery .videogallery--navigation-container .navigationThumb {
	border-bottom: 1px solid #767676;
	background-color: #333333;
}

.sliderCon iframe {
	height: 520px;
}

.vplayer .video-description {
	top: unset;
    bottom: 25px!important;
}

.vplayer .video-description .video-title {
	padding: 0;
    background: none;
    font-size: 26px;
    border-radius: unset;
    font-weight: bold;
	font-family: "Playfair Display",serif;
    text-transform: lowercase;
}

.vplayer.skin_default .controls {
    height: 20px;
}
.video-youtube p {
	margin: 0;
}

#fl-post-243 .fl-post-header {
    margin-top: 50px;
}

/* Style slide post home page */
.post-homepage .slick-prev,
.post-homepage .slick-prev:hover {
    left: 0;
    z-index: 1;
    background-color: #345812;
    color: #fff;
	top: 50%;
}

.post-homepage .slick-next,
.post-homepage .slick-next:hover {
    right: 0;
    z-index: 1;
    background-color: #345812;
    color: #fff;
	top: 50%!important;
}

.post-homepage .slick-arrow:hover {
	opacity: 0.7;
}

/* Style tin-tuc carousel */
.post-mobile-carousel .fl-post-carousel-text {
	position: relative;
	top: unset;
	left: unset;
	transform: unset;
	opacity: 1;
}
.post-mobile-carousel .fl-post-carousel-text-wrap {
	position: relative;
	top: unset;
	bottom: unset;
	opacity: 1;
	padding: 0;
	text-align: left;
    margin-top: 10px;
}
.post-mobile-carousel .fl-post-carousel-gallery h2.fl-post-carousel-title {
	font-family: "Playfair Display", serif;
	font-weight: 700;
	font-size: 14px;
}
.post-mobile-carousel .fl-post-carousel-meta {
	display: none;
}
.post-mobile-carousel .fl-post-carousel-link:hover .fl-post-carousel-text {
	transform: unset;
}
.post-mobile-carousel .bx-wrapper .bx-pager.bx-default-pager a.active,
.post-mobile-carousel .bx-wrapper .bx-pager.bx-default-pager a:focus,
.post-mobile-carousel .bx-wrapper .bx-pager.bx-default-pager a:hover {
	background: #345812;
}

.team-do-gia .fl-slide {
	max-width: 324px;
	margin: 0 20px;
/* 	width: 33.33% !important; */
}
.fl-post .team-do-gia img[class*="wp-image-"] {
	max-height: 324px;
	height: 324px;
	object-fit: cover;
	width: 100%;
}
.team-do-gia .fl-slide-foreground {
	display: flex;
	flex-flow: row wrap;
	box-shadow: 0 3px 5px rgba(85, 85, 85, 0.2);
}
.team-do-gia .fl-slide-content-wrap {
	order: 2;
	padding: 15px;
}
.team-do-gia .fl-content-slider-navigation {
	display: none;
}
.team-do-gia .fl-slide-text p {
	margin: 0 0 5px !important;
}
.team-do-gia .uabb-team-social a {
	font-size: 0;
	margin: 0 5px 10px 5px;
}
.team-do-gia .uabb-team-social i {
	color: #345812;
    font-size: 30px;
    line-height: 30px;
    height: 30px;
    width: 30px;
    text-align: center;
}
.team-do-gia .uabb-team-social i:hover {
	color: #050505;
}
.team-do-gia .bx-viewport {
	padding: 15px 0;
}

#absolute-footer {
	display: none;
}

@media (max-width: 768px) {
	.team-do-gia .fl-slide {
		max-width: 100%;
		margin: 0;
	}
	.team-do-gia .fl-slide-foreground {
		max-width: 100%;
	}
	.team-do-gia  .fl-col-small:not(.fl-col-small-full-width) {
		width: 375px !important;
		clear: unset;
	}
	.team-do-gia .fl-slide .fl-slide-text h3.uabb-team-name-text {
		color: #6d6d6d;
		font-size: 18px !important;
	}
	.team-do-gia .fl-slide .fl-slide-content {
		background-color: #ffffff;
	}
	.team-do-gia .fl-slide .fl-slide-text p,
	.team-do-gia .fl-slide .fl-slide-text .uabb-team-desgn-text {
		color: #242424;
	}
	.team-do-gia .fl-slide .fl-slide-text .uabb-team-social,
	.team-do-gia .fl-slide .fl-slide-text .uabb-team-social a {
		color: unset;
		font-size: 0 !important;
	}
	.team-do-gia .fl-slide .fl-slide-text .uabb-team-social i {
		color: #345812;
		font-size: 30px !important;
		line-height: 30px !important;
	}
	.team-do-gia .fl-content-slider-navigation {
		display: block;
	}
	.fl-builder-content .team-do-gia .fl-slide .fl-slide-content {
		padding: 0;
	}
	.post-normal .slick-arrow {
		display: block !important;
	}
	.post-normal .uabb-post-meta {
		display: none;
	}
	.post-normal .uabb-post-thumbnail img {
		height: auto;
	}
}


@media all and (max-width: 780px) {
	.sub-menu {
		position: unset;
		width: 100%;
		display: none;
	}
	.blogs .fl-col-group{
		display: flex;
		flex-flow: row wrap;
	}

	.page-template-tpl-sidebar .col-md-8 {
		flex: unset;
		max-width: 100%;
	}

	.popup .col-popup a.add-to-cart {
		font-size: 10px;
	}

	.mini-cart {
		display: none;
	}

	.hotline-footer {
		display: block;
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 50px;
		z-index: 99;
/* 		background: rgba(0,0,0,0.6); */
	}
	.hotline-footer a {
		display: block;
	}
	.hotline-footer .left {
		width: 48%;
		float: left;
		height: 100%;
		color: white;
		line-height: 43px;
		text-align: center;
	}
	.hotline-footer .left a {

	}
	.hotline-footer .right {
		width: 48%;
		float: right;
		height: 100%;
		line-height: 43px;
		text-align: center;
	}
	.hotline-footer .right a {

	}
	.hotline-footer .left i, .hotline-footer .right i {
		padding-right: 10px;
		vertical-align: middle;
		font-size: 20px;
	}

	.form-dk h3 {
		font-size: 16px;
	}

	.modal-form-dki-overlay .uabb-content  {
		width: 95%;
	}
	.modal-form-dki-overlay .uabb-close-icon {
		color: #000000;
	}

	#menu-main-menu,
	#menu-main-menu-dai-ly-login {
		-webkit-transform: translate3d(-100%,0,0);
		transform: translate3d(-100%,0,0);
		transition: all .3s;
		width: 240px;
		position: fixed;
		left:0;
		top:0;
		min-height: 100%;
	}

	.mobile-menu-open #menu-main-menu,
	.mobile-menu-open #menu-main-menu-dai-ly-login {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}

	.header {
		position: relative;
		transition: top 0.3s;
		position: fixed;
	}

	ul#menu-main-menu,
	ul#menu-main-menu-dai-ly-login {
		z-index: 999!important;
		height: 100%;
		position: fixed;
		left: 0;
		width: 250px;
		margin-top: 0;
		top: 0;
		/* transform: translateX(-250px); */
		transition: transform 250ms ease-in-out;
		background: #356d07;
	}

	ul#menu-main-menu > li,
	ul#menu-main-menu-dai-ly-login li {
		display: block;
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	}

	ul#menu-main-menu > li a,
	ul#menu-main-menu-dai-ly-login >li a {
    	padding: 10px 15px;
	}

	ul#menu-main-menu > li a:hover,
	ul#menu-main-menu-dai-ly-login > li a:hover {
		color: #345812!important;
	}

	ul#menu-main-menu > li:hover .sub-menu,
	ul#menu-main-menu-dai-ly-login > li:hover .sub-menu {
		/*display: none!important;*/
	}

	.menu > li.current-menu-item > a {
		color: #ffffff!important;
	}

	.current-menu-item {
		background-color: #345812;
	}

	.header {
		display: flex;
	}

	.header .fl-row-content-wrap {
		width: 100%;
	}

	.header .col1 {
		order: 3;
	}

	.header .col3 {
		order: 1;
	}

	.header .col2 {
		order: 2;
	}

	.mini-cart-count {
		color: #345812!important;
		font-size: 10px!important;
		right: 96px!important;
		top: 12px!important;
	}

	.header .mini-cart i {
		font-size: 25px;
	}

	/*video*/
	.sliderCon iframe {
		height: 370px;
	}

	/*Giỏ hàng*/
	#fl-post-243 .fl-post-header {
		margin-top: 10px;
	}

	div#fb-root {
		display: none;
	}
}

@media all and (max-width: 500px) {
	.sub-menu {
		position: unset;
		width: 100%;
		display: none;
	}
	.form-daily-login {
		width: 100%;
		margin: 0 auto;
	}

	.slide-home .fl-node-5db6b6ea70539 > .fl-row-content-wrap {
		padding: 0!important;
	}

	.mc4wp-form-fields input[type="email"] {
		display: block;
		width: 100%!important;
	}

	.mc4wp-form-fields input[type="submit"] {
		width: 50%!important;
		margin-top: 10px;
	}

	h2.animated {
		font-size: 20px;
	}

	.img-banner {
		display: none;
	}
	.fl-menu-mobile-flyout .menu > li {
		border-bottom: 1px solid #ccc;
	}
	.fl-menu-mobile-flyout .menu > li:last-child {
		border: none;
	}
	.fl-menu-mobile-flyout .menu > li > a {
		color: #fff !important;
		font-size: 14px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.fl-menu-mobile-flyout .mini-cart i {
		color: #fff;
	}

	.contact li#field_1_2,
	.contact li#field_1_4 {
		width: 100%;
		display: block;
		margin-bottom: 20px;
	}
	.post-vertical .uabb-post-meta {
		display: none;
	}
	.post-sidebar .post-vertical {
		flex-direction: row;
	}

	.post-sidebar .post-vertical .img-post {
		width: 40%;
		height: auto;
	}

	.post-sidebar .post-vertical .text {
		width: calc( 60% - 10px );
		margin-top: 0;
	}

	.post-sidebar .post-vertical .uabb-blog-posts-description {
		padding-top: 5px;
	}

	.vplayer .video-description .video-title {
		font-size: 23px;
	}
	/*home page*/
	.title-hover,
	.txt-product {
		text-align: center;
	}
	.title-hover {
		margin-top: 5px;
		width: 100%;
	}
	.title-hover h3 {
		font-size: 16px;
	}
	.sp-homepage .price-product {
		font-size: 12px;
    	margin-top: 0;
    	width: 100%;
	}

	.sp-homepage .uabb-blog-posts .uabb-blog-post-inner-wrap {
		padding-bottom: 0;
	}

	.post-homepage .slick-list.draggable {
		margin: 0;
	}

	.post-homepage .slick-slide {
		width: 385px;
	}

	.title-form-tv h1 {
		font-size: 19px;
	}

	.title-form-tv em,
	.title-form-tv p {
		font-size: 13px;
		line-height: 13px;
	}

	input#gform_submit_button_1,
	input#gform_submit_button_4 {
		font-size: 18px;
		line-height: 18px;
		height: 24px;
	}

	.daily-login-form button {
		font-size: 23px;
		line-height: 23px;
		padding: 0 10px;
	}

	.daily-login-form input {
    	height: 30px!important;
	}

	.form-dk .gform_wrapper .top_label div.ginput_container {
		margin-top: 0;
	}

	h2.animated {
		font-size: 16px;
	}

	h2.animated.txt-1 {
		font-size: 22px;
	}

	.slider-animated-2 p {
		font-size: 10px;
		line-height: 10px;
		margin-top: 15px;
    	margin-bottom: 15px
	}

	.slider-animated-3 a {
		font-size: 8px;
		padding: 3px 10px;
		margin-top: 0;
		border-radius: 5px;
	}

	.txt-gioi-thieu ul {
		padding-left: 15px!important;
	}

	.post-home h3.uabb-post-heading {
		height: auto;
	}

	.post-home .uabb-blog-posts-description {
		margin-top: 0;
	}

	.testimonial-do-gia .uabb-testimonial-author-name {
		margin-top: 10px!important;
	}

	.testimonial-do-gia .bx-wrapper {
		margin: 0 auto 24px;
	}

	.txt-bottom {
		margin-top: -40px;
	}

	.mini-cart-count {
		right: 20px!important;
	}

	/*Style giới thiệu*/

	span.fl-number-int {
		padding: 0;
		font-size: 28px;
	}

	span.fl-number-after-text {
		font-size: 16px;
		padding-top: 0;
	}

	/*Trang chính sách đại lý*/
	.chinh-sach .fl-col-group {
		display: flex;
		flex-direction: column;
	}

	.chinh-sach .col1 {
		order: 2;
	}

	.chinh-sach .col2 {
		order: 1;
	}

	.daily-login-form .rwmb-label {
		display: none;
	}

	.daily-login-form #login-form .rwmb-input {
		width: 100%;
	}

	.daily-login-form .rwmb-field.rwmb-custom_html-wrapper a {
    	font-size: 16px;
		margin-right: 64.5%;
	}

	.daily-login-form .link-dk {
		font-size: 16px;
	}

	.slider-animated-2 p {
		font-size: 14px!important;
		line-height: 16px;
	}

	/*Style menu bottom*/
	.menu-bottom ul,
	.menu-bottom-mobile ul {
		padding: 0;
		list-style-type: none;
	}

	.menu-bottom>ul>li {
		display: inline-block;
		width: 25%;
		margin-left: -5px;
		text-align: center;
	}

	.menu-bottom ul a {
		display: block;
		color: #345812;
		text-align: center;
		font-weight: bold;
		font-size: 20px;
	}

	.menu-bottom ul a:hover {
		background-color: #fff;
		color: #096300;
	}

	.menu-bottom > ul > li:hover .sub-menu {
		display: block;
	}

	.menu-bottom > ul > li {
		position: relative;
	}

	.menu-bottom ul .sub-menu-bottom {
		position: absolute;
		top: -105px;
		background: #ffffff00;
		width: 150px;
		padding: 10px;
		left: -20px;
		display:none;
	}

	.menu-bottom ul .sub-menu-bottom li {
		margin-bottom: 10px;
	}

	.sub-menu-bottom a {
		color: #fff!important;
		font-size: 13px!important;
	}

	#share-fb {
		background-color: #385898;
		border-radius: 3px;
		padding: 3px 5px;
		display: inline-block;
	}

	#absolute-footer {
		position: fixed;
		bottom: 0;
		z-index: 999!important;
		width: 100%;
		display: block;
		border-top: 1px solid #345812;
	}

	ul.danh-muc-bottom {
		background-color: #345812;
	}

	ul.danh-muc-bottom a {
		color:#fff;
		font-weight: 700;
		text-decoration: none;
		border-top: 1px solid rgba(255, 255, 255, 0.3);
		display: block;
		padding: 15px 10px;
		font-family: "Playfair Display", serif;
		font-size: 15px;
		text-transform: uppercase;
	}

	ul.danh-muc-bottom {
		position: fixed;
		left: 0;
		top: 0;
		z-index: 9999!important;
		width: 100%;
		visibility: visible;
		transform: scaleY(0);
		transform-origin: center center;
		transition: all .3s;
	}

	.mobile-menu-danh-muc-open .danh-muc-bottom {
		visibility: visible;
		transform: scaleY(1);
	}

	ul.danh-muc-bottom a:hover {
		background-color: #406d1a;
	}
}

/*Vị trí mess*/
.mess-fb {
    position: fixed;
    bottom: 60px;
    z-index: 99;
    right: 0;
}

/*Style phone ring*/
.coccoc-alo-ph-circle {
  width: 40px;
  height: 40px;
  top: 0px;
  left: 0px;
  position: absolute;
  background-color: transparent;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid rgba(30, 30, 30, 0.4);
  opacity: 0.1;
  -webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -moz-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -ms-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -o-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.mess-fb .fl-icon-wrap:after {
	content: "";
	width: 70px;
	height: 70px;
	display: block;
	position: absolute;
    bottom: -3px;
    left: 11px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid #0083ff;
  opacity: 0.1;
  -webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -moz-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -ms-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -o-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
	z-index: -1;
}

.coccoc-alo-phone {
  background-color: transparent;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 200000 !important;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -webkit-transition: visibility 0.5s;
  -moz-transition: visibility 0.5s;
  -o-transition: visibility 0.5s;
  transition: visibility 0.5s;
  margin: 0 auto;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle-fill {
  background-color: rgba(0, 175, 242, 0.5);
  opacity: 0.75 !important;
}

.coccoc-alo-ph-circle-fill {
  width: 25px;
  height: 25px;
  top: 8px;
  left: 8px;
  position: absolute;
  background-color: #000;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: 0.1;
  -webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -moz-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -ms-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -o-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.coccoc-alo-ph-img-circle {
  width: 15px;
  height: 15px;
  top: 12.5px;
  left: 12.5px;
  position: absolute;
  background: rgba(30, 30, 30, 0.1)
    url(https://dogia.vn/wp-content/uploads/2020/01/phone1.png)
    no-repeat center center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: 0.7;
  -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -moz-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -ms-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -o-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-img-circle {
  background-color: #345812;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle {
  border-color: #345812;
  opacity: 0.5;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle {
  border-color: #345812;
  opacity: 0.5;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle-fill,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle-fill {
  background-color: rgba(117, 235, 80, 0.5);
  opacity: 0.75 !important;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-img-circle,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-img-circle {
  background-color: #75eb50;
}

@-moz-keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1;
  }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1;
  }
}

@-webkit-keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1;
  }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1;
  }
}

@-o-keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1;
  }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1;
  }
}

@keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1;
  }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1;
  }
}

@-moz-keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2;
  }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
}

@-webkit-keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2;
  }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
}

@-o-keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2;
  }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
}

@keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2;
  }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
}

@-moz-keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}

@-webkit-keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}

@-o-keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}

@keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}

@media(min-width: 781px) {
	ul#menu-main-menu>li:hover .sub-menu, ul#menu-main-menu-dai-ly-login>li:hover .sub-menu {
		display: block;
	}
	.sub-menu {
		position: absolute;
		z-index: 999;
		width: 200px;
		display: none;
	}
}